@model IEnumerable<WebApplication1.Models.Zahtjev>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Let.LetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Razlog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obradjen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prihvacen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Let.LetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Razlog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obradjen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prihvacen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZahtjevId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZahtjevId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZahtjevId })
        </td>
    </tr>
}

</table>
